<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/32ee507fe4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <span id="control_handler_url" class="d-none">{{ url_for('control_handler') }}</span>
    <div class="container d-flex flex-column align-items-center">
      <h1 class="text-center">Robo</h1>
      <img src="{{ url_for('video_feed') }}" class="rounded" style="width: 300px; height: 300px;">
      <div class="controller mt-2 col-lg-4">
        <div class="row  justify-content-center">
          <button id="up_btn" class="btn btn-secondary m-2"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </div>
        <div class="row  justify-content-center">
          <button id="left_btn" class="btn btn-secondary my-2 mx-5"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          <button id="right_btn" class="btn btn-secondary my-2 mx-5"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div class="row  justify-content-center">
          <button id="down_btn" class="btn btn-secondary m-2"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </body>

  <script>
    function httpRequest(url = '', method='', data, callback){
        let options = {
            method : method,
            headers: {
                'Content-Type': 'application/json'
                },
        }
        if(data){
            options.body = JSON.stringify(data)
        }
        const response = fetch(url, options);
        
        response.then(response_data=>{
          response_data.json().then(data=>{
            if(data.status){
              callback(data, response);
            }
          })
        })
      }
  </script>

  <script>
    let control_handler_url = document.getElementById("control_handler_url").textContent;
    let isKeyDown = {
      up: false,
      left: false,
      right: false,
      down: false
    }

    
    // Key Bindings
    function key_binding_handler(e) {
      let key_map_action = { 37: "left", 38: "up", 39: "right", 40: "down" };
      if(e.which in key_map_action){
        let data;
        if(e.type==="keydown"){
          data = {action: key_map_action[e.which]}
          if( !Object.values(isKeyDown).reduce((a,b)=>Boolean(a||b)) ){
            isKeyDown[data.action]=true;
            httpRequest(control_handler_url, "POST", data, function(data, response){
              console.log(data);
            })
          }
        }else if(e.type==="keyup"){
          if(isKeyDown[key_map_action[e.which]]){
            data = {action: "stop"}
            isKeyDown[key_map_action[e.which]] = false;
            httpRequest(control_handler_url, "POST", data, function(data, response){
              console.log(data);
            })
          }
        }
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
    };

    document.addEventListener("keydown", key_binding_handler);
    document.addEventListener("keyup", key_binding_handler);
    // End

    function parents_has_selector(element, querySelector){
      let elementsBySelector = new Set(document.querySelectorAll(querySelector));
      while(element){
        if( elementsBySelector.has(element) ){
          break;
        }
        element = element.parentElement;
      }

      return element
    }

    // Handle Touch Screen
    let isTouchStarted = [false, null];
    if("ontouchstart" in document.documentElement){
      document.ontouchstart = function(e){
        let keys = ["up", "left", "right", "down"];
        for( i in keys ){
          action = keys[i];
          if(parents_has_selector(e.target, `#${action}_btn`)){
            if(!isTouchStarted[0]){
              isTouchStarted=[true, document.getElementById(`${action}_btn`)];
              data = { action: action }
              httpRequest(control_handler_url, "POST", data, function(data, response){
                console.log(data);
              })
              break;
            }
          }
        }
        
      }

      document.ontouchend = function(e){
        let keys = ["up", "left", "right", "down"];
        for( i in keys ){
          action = keys[i];
          if(parents_has_selector(e.target, `#${action}_btn`)){
            if( isTouchStarted[0] && document.getElementById(`${action}_btn`)==isTouchStarted[1] ){
              isTouchStarted=[false, null];
              data = { action: "stop" }
              httpRequest(control_handler_url, "POST", data, function(data, response){
                console.log(data);
              })
              break;
            }
          }
        }
      }
    }else{

      window.addEventListener('mouseup', function() {
        if( !Object.values(isKeyDown).reduce((a,b)=>Boolean(a||b)) ){
          data = { action: "stop" }
          httpRequest(control_handler_url, "POST", data, function(data, response){
            console.log(data);
          })
        }
      });
      
      function control_handler(e){
        if( !Object.values(isKeyDown).reduce((a,b)=>Boolean(a||b)) ){
          data = { action: this.id.split("_")[0] }
          httpRequest(control_handler_url, "POST", data, function(data, response){
            console.log(data);
          })
        }
      }

      document.getElementById("up_btn").addEventListener("mousedown", control_handler);
      document.getElementById("left_btn").addEventListener("mousedown", control_handler);
      document.getElementById("right_btn").addEventListener("mousedown", control_handler);
      document.getElementById("down_btn").addEventListener("mousedown", control_handler);
    }
    // End

    
  </script>
</html>
